body {
	/* background-color: #152733 !important; */
	background-color: #212121 !important;
	color: #fff !important;
}

.card p.card-text {
	color: #000 !important;
}

.add-cat-container {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-container {
	background-color: #152733 !important;
	background-color: #181f24 !important;
	border-radius: 5%;
	width: 400px;
	border: 1px #fff solid;
	padding: 2rem;
}
