body {
	background-color: #152733 !important;
	color: #fff !important;
}

.cat-info-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.cat-image {
	width: 15rem;
	border-radius: 5%;
}

.pet-name-field {
	color: #ff2481;
	color: #8d8d8d;
}

.field-title {
	color: #ff2481;
	color: #8d8d8d;
}

.cat-name {
	font-weight: 400;
}
