/* body {
	background-color: #152733 !important;
	color: #fff !important;
} */

#main {
	height: calc(100vh - 56px);
}

.login-container,
.register-container {
	/* width: 20rem; */
	height: calc(100vh - 56px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.homepage_logo {
	width: 15rem;
	padding-bottom: 1.7rem;
}

.cat-img {
	display: inline-block;
	width: 30rem;
}
