body {color: #fff !important}

.add-cat-container {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 400px;
    border: 1px #fff solid;
    padding: 2rem;
}

