{% extends 'base.html' %}
{% block title %}
  Adoption Page
{% endblock %}

{% block content %}
  <table class="table table-hover table-dark">
      <thead>
        <tr>
          <!--Your Columns HERE-->
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Breed</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
          <!--Your Rows inside the table HERE:-->
          {% for cat in cats %}
            <tr>
              <td>{{ cat.id }}</td>
              <td>{{ cat.name }}</td>
              <td>{{ cat.age }}</td>
              <td>{{ cat.breed }}</td>
              <td>
                  <button class="btn btn-outline btn-info">More Info</button>
                  <button class="btn btn-outline btn-success">Adopt this cat</button>
              </td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
{% endblock %}