<!-- This html file presents the functionality to add a record of cat profile in the database. -->

{% extends 'base2.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='add_cat.css') }}">
{% endblock %}

{% block contents %}

<div class="container">

  <section class="add-cat-container pt-4">

    <div class="form-container">
      <h2>Add a Cat</h2>
      <form id="form-add-cat" method='POST' action="{{url_for('addcat')}}" enctype="multipart/form-data">
        <div class="form-group mb-3">
          <label for="cat_name" class="form-label">Name</label>
          <input type="text" name="cat_name" class="form-control" id="cat_name">
        </div>
        <div class="form-group mb-3">
          <label for="breed" class="form-label">Breed</label>
          <input type="text" name="breed" class="form-control" id="breed">
        </div>
        <div class="form-group mb-3">
          <label for="age" class="form-label">Age</label>
          <input type="number" name="age" class="form-control" id="age">
        </div>

        <div class="form-group mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea name="description" class="form-control" id="description" rows="3"></textarea>
        </div>

        <div class="form-group mb-3 custom-file">
          <input type="file" name="file" class="custom-file-input" id="file" required>
          <label class="custom-file-label" for="file">Upload Image</label>
          <div class="invalid-feedback">Example invalid custom file feedback</div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>

  </section>

</div>



{% endblock %}