<!-- This html file shows the cat profile of a selected record. It includes the
name, breed, age, description, and photo of the cat as well as the adoption
button for interested adopters. -->

{% extends 'base2.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='cat_info.css') }}">
{% endblock %}

{% block contents %}

<div class="container">

  {% if cat %}
  
    <section class="cat-info-container pt-5">

        <img src="{{ url_for('static', filename='uploads/' + cat.image) }}" class="cat-image" alt="...">
        <div class="cat-infos-container">
            <h4 class="pt-3"><strong class="pet-name-field">Pet Name:</strong> <span class="cat-name">{{cat.name}}</span></h4>
            <p><strong class="field-title">Breed: </strong>{{cat.breed}}</p>
            <p><strong class="field-title">Age: </strong>{{cat.age}}</p>
            <p><strong class="field-title">Description: </strong>{{cat.description}}</p>
            <form method="POST" action="{{url_for('adopt_cat')}}">
              <input type="text" name="adopt_cat_confirm" value="confirm" hidden>
              <button type="submit" class="btn btn-success">Adopt Now</button>
            </form>

            
        </div>

    </section>
  {% endif %}
</div>



{% endblock %}