<!-- This html file contains the actions allowed for each record such as
to edit and delete the record as well as to see more information of the record. -->

{% extends 'base2.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='cat_list.css') }}">
{% endblock %}

{% block contents %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        {% if category == 'success' %}
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        {% else %}
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        {% endif %}
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="container mt-5">

  <table id="myTable" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Breed</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for cat in cats %}

            <tr>
                <td>{{ cat.id }}</td>
                <td>{{ cat.name }}</td>
                <td>{{ cat.breed }}</td>
                <td>{{ cat.age }}</td>
                <td>  
                  <a href="{{ url_for('editcat', id=cat.id) }}" class="btn btn-outline-dark"  data-id="{{cat.id}}">Edit</a> 
                  <a href="{{ url_for('editcat', id=cat.id) }}" class="btn btn-outline-dark btnDeleteCat"  data-catid="{{cat.id}}" data-catname="{{cat.name}}" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</a> 
                  <a href="{{ url_for('catinfo', cat_id=cat.id) }}" data-id="{{cat.id}}" class="btn btn-outline-dark btnCatInfo">More Info</a>
                </td>

            </tr>

        {% endfor%}
    </tbody>
  </table>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="form-delete-cat" action="{{url_for('delete_cat')}}" method="POST">
        <input type="number" name="catid" id="catid" hidden>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete a Cat</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Are you sure to delete <span class="cat-name"></span>? </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block jscode %}
<script src="{{url_for('static', filename='script.js')}}"></script>
{% endblock %}
