{% extends 'base2.html' %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='cat_list.css') }}">
{% endblock %}

{% block contents %}

<div class="container mt-5">

  <table id="myTable" class="display">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Breed</th>
            <th>Age</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for cat in cats %}

            <tr>
                <td>{{ cat.id }}</td>
                <td>{{ cat.name }}</td>
                <td>{{ cat.breed }}</td>
                <td>{{ cat.age }}</td>
                <td>{{ cat.description }}</td>
                <td> <a href="{{ url_for('catinfo', cat_id=cat.id) }}" data-id="{{cat.id}}" class="btn btn-info btnCatInfo">More Info</a> <a href="{{ url_for('editcat', id=cat.id) }}" class="btn btn-primary"  data-id="{{cat.id}}">Edit</a> <a href="{{ url_for('editcat', id=cat.id) }}" class="btn btn-danger btnDeleteCat"  data-catid="{{cat.id}}" data-catname="{{cat.name}}" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</a> </td>

            </tr>

        {% endfor%}
    </tbody>
  </table>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="form-delete-cat" action="{{url_for('delete_cat')}}" method="POST">
        <input type="number" name="catid" id="catid" hidden>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete a Cat</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Are you sure to delete <span class="cat-name"></span>? </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block jscode %}
<script src="{{url_for('static', filename='script.js')}}"></script>
{% endblock %}
