<!-- This html file displays the table of records in the Cat List.-->

{% extends 'base2.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='cat_list.css') }}">
{% endblock %}

{% block contents %}

<div class="container">

    {% if cats %}

        {% for cat_info in cats %}
            <div class="row">
                <div class="col-md-4">
                  <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='uploads/' + cat_info.image) }}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{ cat_info.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Breed: {{ cat_info.breed }} - Age: {{ cat_info.age }}</h6>
                        <p class="card-text">{{ cat_info.description }}</p>
                           <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                        <a href="#" class="btn "><i class="fab fa-github"></i> Github</a>
                      </div>
                  </div>
               </div>
            </div>

        {% endfor %}
    {% endif %}
</div>



{% endblock %}