<!-- This html file contains the display of the register page where users can
     sign up to access the cat adoption database. -->

{% extends 'base.html' %}
{% block title %}
Register Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <div class="register-container">
            <form method="POST" class="form-register" style="color:white">
                {{ form.hidden_tag() }}
                <h1 class="h3 mb-3 font-weight-normal">Please Create Your Account</h1>
                <br>
                {{ form.username.label() }}
                {{ form.username(class="form-control mb-2", placeholder="User Name") }}
    
                {{ form.email_address.label() }}
                {{ form.email_address(class="form-control mb-2", placeholder="Email Address") }}
    
                {{ form.password1.label() }}
                {{ form.password1(class="form-control mb-2", placeholder="Password") }}
    
                {{ form.password2.label() }}
                {{ form.password2(class="form-control mb-2", placeholder="Confirm Password") }}
    
                <br>
    
                {{ form.submit(class="btn btn-lock btn-primary mb-5") }}

                <div class="checkbox mb-3">
                    <h6 class="h6 mb-2">Already have an account?</h6>
                    <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
                 </div>
    
            </form>
        </div>
    </div>
</body>



{% endblock %}